body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.programs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.program-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}